.FlightListItem {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
    margin: 20px 0;
}

.FlightListItem:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}