.FlightSearchApp__SearchResults {
    width: 670px;
    padding: 20px 0;
}

.FlightSearchApp__SearchResults h2 {
    text-align: center;
}

.FlightSearchApp__SearchResults__Back {
    display: flex;
    flex-direction: column;
    align-items: center;
}