.UI__Spinner {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 40px;
}
.UI__Spinner:after {
    content: " ";
    display: block;
    width: 70px;
    height: 70px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #c6007e;
    border-color: #c6007e transparent #c6007e transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}  