.UI__Input {
    padding: 10px 15px;
    font-size: 14px;
    min-width: 200px;
    width: 100%;
    margin: 10px 0;
}

.UI__Input:focus {
    outline: none;
}

.UI__Input__Container {
    width: 45%;
    position: relative;
}

.UI__Input__Select {
    background: white;
    border: 1px solid black;
    border-top: none;
    width: 100%;
    height: 150px;
    overflow: scroll;
    padding: 10px 15px;
    position: absolute;
    z-index: 100;
    top: 68px;
}

.UI__Input__Select span {
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.UI__Input__Select span:hover {
    background: #c6007e;
    color: white;
}

.UI__Input__Container .UI__Input__ErrorMsg {
    position: absolute;
    top: 80px;
    left: 0;
    font-size: 12px;
    color: red;
}