.FlightSearchApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.FlightSearchApp__SearchContainer {
    width: 670px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.FlightSearchApp__SearchContainer:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.FlightSearchApp__SearchContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FlightSearchApp__SearchContainer h1 {
    text-align: center;
}

.FlightSearchApp__SearchContainer__InputBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    width: 100%;
}

.FlightSearchApp__SearchContainer__InputBox .DateBox {
    position: relative;
}

.FlightSearchApp__SearchContainer__InputBox .DateBox p {
    font-size: 12px;
    color: red;
    position: absolute;
    top: 25px;
    left: 0;
}